<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
</head>
<body>
    <div class="div_Home">
        <h1>Bienvenue sur le pokédex</h1>
    </div>
    
</body>
</html>